
  <!-- ================== Built In Filter Definitions ===================== -->

<filter>
<filter-name>MyFilter</filter-name>
<filter-class>net.codetojoy.sandbox.MyFilter</filter-class>
</filter>
<filter-mapping>
<filter-name>MyFilter</filter-name>
<url-pattern>/*</url-pattern>
</filter-mapping>

